<!DOCTYPE html>
<html lan="en" and dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Login Page</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
    <form class="box" action="register">
        <h1>
            login
        </h1>
        <input type="text" name="" placeholder="Enter Username" id="username">
        <input type="text" name="" placeholder="Enter Password" id="password">
        <input type="submit" name="" value="Login" href=>
        <input type="submit" name="" value="Register" href="registration.html">
    </form>

</body>


</html>