<!DOCTYPE html>
<html lan="en" and dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Registration Page</title>
    <link rel="stylesheet" href="static/css/style2.css">

</head>

<body>
    <form class="box" action="/">
        <h1>
            Register
        </h1>
        <input type="text" name="" placeholder="First Name" id="fn" required>
        <input type="text" name="" placeholder="Last Name" id="ln" required>
        <input type="text" name="" placeholder="Username" id="user" required>
        <input type="password" name="" placeholder="Password" id="password" required>
        <input type="submit" name="" value="Register" href="login.html">

    </form>

</body>


</html>